<!-- Create Player Page -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" [appPageDirective]="{ pageSize: 'mixin-page-base' }" appContentGrid>
    <section
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        appPageSectionDirective
        class="token-body-section items-center justify-between"
    >
        <div class="token-default-title">Create Player</div>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        appPageSectionDirective
        class="token-body-section grow token-default-flex-col"
    >
        <header appPageSectionDirective *ngIf="errors['_'] != null" appPageSectionDirective>
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </header>
        <app-form-field [name]="'name'" [errors]="errors.name">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'activeSince'" [errors]="errors.activeSince">
            <ng-template let-name="name">
                <app-char-field
                    [type]="'date'"
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        class="token-default-flex-row token-body-section justify-end"
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <button
            [appMixinStyledButton]="{ size: 'mixin-Sbutton-base', theme: 'theme-Sbutton-generic-white' }"
            type="reset"
        >
            Reset
        </button>
        <button [appMixinStyledButton]="{ size: 'mixin-Sbutton-base', theme: 'theme-Sbutton-generic-green' }">
            Create
        </button>
    </section>
</form>
