@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@angular/cdk/overlay-prebuilt.css";
@import "./mixins.scss";
@import "./themes.scss";
@import "./tokens.scss";

html {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    height: 100%;
}

body,
#root {
    height: 100%;
}

button:focus {
    outline: none;
}
