<!-- Register User Page -->
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (reset)="onReset()"
    [appPageDirective]="{ pageSize: 'mixin-page-base' }"
    appContentGrid
>
    <header appPageSectionDirective [appContentGridTrack]="{ contentGridTrack: 'base' }">
        <div class="token-card--header--primary-text">Register User</div>
    </header>
    <section appPageSectionDirective [appContentGridTrack]="{ contentGridTrack: 'base' }" *ngIf="errors['_'] != null">
        <app-form-errors [errors]="errors['_']"></app-form-errors>
    </section>
    <fieldset appPageSectionDirective [appContentGridTrack]="{ contentGridTrack: 'base' }" class="flex flex-col gap-3">
        <app-form-field [name]="'email'" [errors]="errors.email">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'password'" [errors]="errors.password">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                    type="password"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'name'" [errors]="errors.name">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
    </fieldset>
    <footer
        class="flex flex-row gap-3 justify-end"
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <button
            [appMixinStyledButton]="{ size: 'mixin-Sbutton-base', theme: 'theme-Sbutton-generic-white' }"
            type="reset"
        >
            Reset
        </button>
        <button [appMixinStyledButton]="{ size: 'mixin-Sbutton-base', theme: 'theme-Sbutton-generic-green' }">
            Register User
        </button>
    </footer>
</form>
