<div appMixinStyledCard class="mixin-panel-like mixin-panel-base theme-panel-generic-white">
    <header appMixinStyledCardSection class="flex flex-row gap-3 justify-between items-start">
        <div>
            <div class="token-card--header--primary-text">Delete Membership for Player</div>
            <div class="token-card--header--secondary-text">{{ teamPlayer.player.name }} from {{ team.name }}</div>
        </div>
        <button appMixinStyledButton size="mixin-Sbutton-sm" theme="theme-Sbutton-generic-white" (click)="closeModal()">
            Close
        </button>
    </header>
    <section appMixinStyledCardSection *ngIf="errors['_'] != null">
        <app-form-errors [errors]="errors['_']"></app-form-errors>
    </section>
    <section appMixinStyledCardSection>
        Are you sure you want to delete the team membership of "{{ teamPlayer.player.name }}" from "{{ team.name }}"?
    </section>
    <footer appMixinStyledCardSection class="flex flex-row gap-3 justify-end">
        <button
            appMixinStyledButton
            size="mixin-Sbutton-base"
            theme="theme-Sbutton-generic-white"
            (click)="closeModal()"
        >
            Cancel
        </button>
        <button appMixinStyledButton size="mixin-Sbutton-base" theme="theme-Sbutton-generic-red" (click)="onSubmit()">
            Delete Team Membership
        </button>
    </footer>
</div>
