<!-- Delete Team Membership Modal -->
<div
    [appPanelDirective]="{
        panelSize: 'mixin-panel-base',
        panelTheme: 'theme-panel-generic-white',
        panelHasShadow: true,
        panelHasBorder: true
    }"
    class="w-[100vw]"
>
    <header appPanelSectionDirective class="flex flex-row gap-3 justify-between items-start">
        <div>
            <div class="token-card--header--primary-text">Delete Membership for Player</div>
            <div class="token-card--header--secondary-text">{{ teamPlayer.player.name }} from {{ team.name }}</div>
        </div>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            (click)="closeModal()"
        >
            Close
        </button>
    </header>
    <app-divider />
    <section appPanelSectionDirective *ngIf="errors['_'] != null">
        <app-form-errors [errors]="errors['_']"></app-form-errors>
    </section>
    <app-divider />
    <section appPanelSectionDirective>
        Are you sure you want to delete the team membership of "{{ teamPlayer.player.name }}" from "{{ team.name }}"?
    </section>
    <app-divider />
    <footer appPanelSectionDirective class="flex flex-row gap-3 justify-end">
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white'
            }"
            (click)="closeModal()"
        >
            Cancel
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-red'
            }"
            (click)="onSubmit()"
        >
            Delete Team Membership
        </button>
    </footer>
</div>
