<div class="mixin-panel-like mixin-panel-base theme-panel-generic-white">
    <header class="flex flex-row gap-2 justify-between">
        <div>
            <span class="font-bold"> Delete Membership for Player </span>
            <span>"{{ teamPlayer.player.name }}" </span>
            <span class="font-bold">From Team </span>
            <span>"{{ team.name }}"</span>
        </div>
        <app-mixin-button
            [options]="{
                size: 'mixin-button-sm',
                theme: 'theme-button-generic-white'
            }"
            (click)="closeModal()"
        >
            Close
        </app-mixin-button>
    </header>
    <app-form-errors [errors]="errors['_']"></app-form-errors>
    <hr class="border-t border-black w-full h-0" />
    <section>Are you sure you want to delete the team membership of "{{ teamPlayer.player.name }}" from "{{ team.name }}"?</section>
    <hr class="border-t border-black w-full h-0" />
    <footer class="flex flex-row gap-2 justify-end">
        <app-mixin-button
            [options]="{
                size: 'mixin-button-base',
                theme: 'theme-button-generic-white'
            }"
            (click)="closeModal()"
            [buttonAttrs]="{ type: 'button' }"
        >
            Cancel
        </app-mixin-button>
        <app-mixin-button
            [options]="{
                size: 'mixin-button-base',
                theme: 'theme-button-generic-red'
            }"
            (click)="onSubmit()"
            [buttonAttrs]="{ type: 'button' }"
        >
            Delete
        </app-mixin-button>
    </footer>
</div>
