<div appMixinPrototypeCard>
    <main appMixinPrototypeCardSection class="flex flex-row gap-2">
        <div class="flex flex-col gap-1">
            <div class="w-24 h-24 aspect-square relative bg-gray-300 border border-gray-900">
                <app-cover-image src=""></app-cover-image>
            </div>
        </div>
        <ul class="flex flex-col">
            <li class="text-sm">
                <span class="font-bold"> Name: </span>
                <span>
                    {{ player.name }}
                </span>
            </li>
            <li class="text-sm">
                <span class="font-bold">Active Since: </span>
                <span>
                    {{ player.activeSince | date }}
                </span>
            </li>
        </ul>
    </main>
    <footer appMixinPrototypeCardSection class="flex flex-col gap-1">
        <a [routerLink]="'/players/' + player.id + '/update'" useRouterLink>
            <app-mixin-button
                [options]="{
                    theme: 'theme-button-generic-green',
                    size: 'mixin-button-base'
                }"
                className="w-full justify-center"
                [buttonAttrs]="{ type: 'button' }"
            >
                Update
            </app-mixin-button>
        </a>
        <app-mixin-button
            [options]="{
                theme: 'theme-button-generic-red',
                size: 'mixin-button-base'
            }"
            className="w-full justify-center"
            [buttonAttrs]="{ type: 'button' }"
            (click)="openDeletePlayerModal()"
        >
            Delete
        </app-mixin-button>
        <app-mixin-button
            [options]="{
                theme: 'theme-button-generic-white',
                size: 'mixin-button-base'
            }"
            className="w-full justify-center"
            [buttonAttrs]="{ type: 'button' }"
        >
            Details
        </app-mixin-button>
    </footer>
</div>
