<!-- Mark Match Completed Page -->
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (reset)="onReset()"
    [appPageDirective]="{ pageSize: 'mixin-page-base' }"
    appContentGrid
>
    <section
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        appPageSectionDirective
        class="flex flex-row gap-3 items-center justify-between"
    >
        <div class="token-default-title">Mark Match Completed</div>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section *ngIf="errors['_'] != null" [appContentGridTrack]="{ contentGridTrack: 'base' }" appPageSectionDirective>
        <app-form-errors [errors]="errors['_']"></app-form-errors>
    </section>
    <fieldset class="flex flex-col gap-3" [appContentGridTrack]="{ contentGridTrack: 'base' }" appPageSectionDirective>
        <app-form-field name="endDate" [errors]="errors.endDate">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                    [type]="'datetime-local'"
                />
            </ng-template>
        </app-form-field>
    </fieldset>
    <footer
        class="flex flex-row gap-3 justify-end"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        appPageSectionDirective
    >
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white'
            }"
            type="reset"
        >
            Reset
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-green'
            }"
        >
            Mark Completed
        </button>
    </footer>
</form>
