<!-- Schedule Match Page -->
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (reset)="onReset()"
    [appPageDirective]="{ pageSize: 'mixin-page-base' }"
    appContentGrid
>
    <section
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        appPageSectionDirective
        class="token-body-section items-center justify-between"
    >
        <div class="token-default-title">Schedule Match</div>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section grow"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <section
            *ngIf="errors['_'] != null"
            [appContentGridTrack]="{ contentGridTrack: 'base' }"
            appPageSectionDirective
        >
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </section>
        <fieldset
            class="token-default-flex-col"
            [appContentGridTrack]="{ contentGridTrack: 'base' }"
            appPageSectionDirective
        >
            <app-form-field name="homeTeam" [errors]="errors.homeTeamId">
                <ng-template let-name="name">
                    <app-pick-single-team [formControlName]="name" />
                </ng-template>
            </app-form-field>
            <app-form-field name="awayTeam" [errors]="errors.awayTeamId">
                <ng-template let-name="name">
                    <app-pick-single-team [formControlName]="name" />
                </ng-template>
            </app-form-field>
            <app-form-field name="venue" [errors]="errors.venue">
                <ng-template let-name="name">
                    <app-char-field
                        [formControlName]="name"
                        [options]="{
                            size: 'mixin-char-input-base',
                            theme: 'theme-input-generic-white'
                        }"
                    />
                </ng-template>
            </app-form-field>
            <app-form-field name="scheduledDate" [errors]="errors.scheduledDate">
                <ng-template let-name="name">
                    <app-char-field
                        [formControlName]="name"
                        [options]="{
                            size: 'mixin-char-input-base',
                            theme: 'theme-input-generic-white'
                        }"
                        type="datetime-local"
                        step="1"
                    />
                </ng-template>
            </app-form-field>
        </fieldset>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        class="token-default-flex-row token-body-section items-center justify-end"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        appPageSectionDirective
    >
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white'
            }"
            type="reset"
        >
            Reset
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-green'
            }"
        >
            Schedule
        </button>
    </section>
</form>
