<!-- Delete Team Modal -->
<div
    [appPanelDirective]="{
        panelSize: 'mixin-panel-base',
        panelTheme: 'theme-panel-generic-white',
        panelHasShadow: true,
        panelHasBorder: true
    }"
    class="w-[100vw]"
>
    <header appPanelSectionDirective class="flex flex-row gap-3 justify-between items-start">
        <div>
            <div class="token-card--header--primary-text">Delete Team</div>
            <div class="token-card--header--secondary-text">{{ team.name }}</div>
        </div>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            (click)="closeModal()"
        >
            Close
        </button>
    </header>
    <app-divider />
    <section appPanelSectionDirective *ngIf="errors['_'] != null">
        <app-form-errors [errors]="errors['_']"></app-form-errors>
        <app-divider />
    </section>
    <section appPanelSectionDirective>
        <div class="token-card--default-text">Are you sure you want to delete team "{{ team.name }}"?</div>
    </section>
    <app-divider />
    <footer appPanelSectionDirective class="flex flex-row gap-3 justify-end">
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white'
            }"
            (click)="closeModal()"
            type="button"
        >
            Cancel
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-red'
            }"
            (click)="onSubmit()"
            type="button"
        >
            Delete Team
        </button>
    </footer>
</div>
