<div class="mixin-page-like mixin-page-base mixin-content-grid">
    <header class="flex flex-row gap-2 items-center justify-between" data-track="base">
        <div class="text-xl">List Teams</div>
        <a href="/teams/create">
            <app-mixin-button
                [options]="{
                    theme: 'theme-button-generic-green',
                    size: 'mixin-button-base'
                }"
            >
                Create
            </app-mixin-button>
        </a>
    </header>
    <div data-track="base" class="flex flex-col gap-[inherit] border border-gray-900">
        <div class="grid grid-cols-1 sm:grid-cols-2">
            <ng-container *ngFor="let team of teams">
                <section class="flex flex-col gap-2 p-4 bg-white outline-1 outline">
                    <main class="flex flex-row gap-2">
                        <div class="flex flex-col gap-1">
                            <div class="w-24 h-24 aspect-square relative bg-gray-300 border border-gray-900">
                                <app-cover-image src=""></app-cover-image>
                            </div>
                        </div>
                        <ul class="flex flex-col">
                            <li class="text-sm">
                                <span class="font-bold"> Name: </span>
                                <span>
                                    {{ team.name }}
                                </span>
                            </li>
                            <li class="text-sm">
                                <span class="font-bold">Date Founded: </span>
                                <span>
                                    {{ team.dateFounded | date }}
                                </span>
                            </li>
                        </ul>
                    </main>
                    <footer class="flex flex-col gap-1">
                        <a [href]="'teams/' + team.id + '/players'">
                            <app-mixin-button
                                [options]="{
                                    theme: 'theme-button-generic-white',
                                    size: 'mixin-button-base'
                                }"
                                className="w-full justify-center"
                                [buttonAttrs]="{ type: 'button' }"
                            >
                                See Players
                            </app-mixin-button>
                        </a>
                        <app-mixin-button
                            [options]="{
                                theme: 'theme-button-generic-green',
                                size: 'mixin-button-base'
                            }"
                            className="w-full justify-center"
                            [buttonAttrs]="{ type: 'button' }"
                        >
                            Update
                        </app-mixin-button>
                        <a [href]="'/teams/' + team.id + '/create-membership'">
                            <app-mixin-button
                                [options]="{
                                    theme: 'theme-button-generic-yellow',
                                    size: 'mixin-button-base'
                                }"
                                className="w-full justify-center"
                            >
                                Add Player
                            </app-mixin-button>
                        </a>
                        <app-mixin-button
                            [options]="{
                                theme: 'theme-button-generic-red',
                                size: 'mixin-button-base'
                            }"
                            className="w-full justify-center"
                            [buttonAttrs]="{ type: 'button' }"
                        >
                            Delete
                        </app-mixin-button>
                        <app-mixin-button
                            [options]="{
                                theme: 'theme-button-generic-white',
                                size: 'mixin-button-base'
                            }"
                            className="w-full justify-center"
                            [buttonAttrs]="{ type: 'button' }"
                        >
                            Details
                        </app-mixin-button>
                    </footer>
                </section>
            </ng-container>
        </div>
    </div>
</div>
