<form appMixinStyledCard [formGroup]="form" (ngSubmit)="onSubmit()" data-track="base" (reset)="onReset($event)">
    <header appMixinStyledCardSection>
        <div>
            <div class="token-card--header--primary-text">Update Team</div>
            <div class="token-card--header--secondary-text">{{ team.name }}</div>
        </div>
    </header>
    <section appMixinStyledCardSection *ngIf="errors['_'] != null">
        <app-form-errors [errors]="errors['_']"></app-form-errors>
    </section>
    <fieldset appMixinStyledCardSection class="flex flex-col gap-3">
        <app-form-field [name]="'name'" [errors]="errors.name">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'dateFounded'" [errors]="errors.dateFounded">
            <ng-template let-name="name">
                <app-char-field
                    [type]="'date'"
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
    </fieldset>
    <footer appMixinStyledCardSection class="flex flex-row gap-3 justify-end">
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white'
            }"
            type="reset"
        >
            Reset
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-green'
            }"
        >
            Update
        </button>
    </footer>
</form>
