<div appPageDirective pageSize="mixin-page-base" appContentGrid>
    <header appPageSectionDirective appContentGridTrack contentGridTrack="base">
        <section class="flex flex-row gap-3 items-center justify-between flex-wrap">
            <div class="token-default-title">List Players</div>
            <button
                appMixinStyledButton
                size="mixin-Sbutton-sm"
                theme="theme-Sbutton-generic-white"
                [routerLink]="'/players/create'"
                [hasShadow]="true"
            >
                Create Player
            </button>
        </section>
    </header>
    <app-divider appPageSectionDirective appContentGridTrack contentGridTrack="base" />
    <div appPageSectionDirective appContentGridTrack contentGridTrack="base" class="flex flex-col gap-[inherit]">
        <div class="grid max-[450px]:grid-cols-1 grid-cols-2 gap-3">
            <ng-container *ngFor="let player of players">
                <app-list-players-page-player-element
                    [player]="player"
                    (onDelete)="onDeletePlayer($event)"
                ></app-list-players-page-player-element>
            </ng-container>
        </div>
    </div>
</div>
