<!-- Mark Match Cancelled Page -->
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (reset)="onReset()"
    [appPageDirective]="{ pageSize: 'mixin-page-base' }"
    appContentGrid
>
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section grow"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <header>
            <div class="token-default-title">Mark Match Cancelled</div>
        </header>
        <app-divider />
        <section
            *ngIf="errors['_'] != null"
            [appContentGridTrack]="{ contentGridTrack: 'base' }"
            appPageSectionDirective
        >
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </section>
        <footer
            class="flex flex-row gap-3 justify-end"
            [appContentGridTrack]="{ contentGridTrack: 'base' }"
            appPageSectionDirective
        >
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-white'
                }"
                type="reset"
            >
                Reset
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-green'
                }"
            >
                Mark Cancelled
            </button>
        </footer>
    </section>
</form>
