<header class="flex flex-row gap-4 p-4 text-xl border-b border-gray-900">
    <a
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="mixin-button-like mixin-button-base theme-button-generic-white"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Frontpage
    </a>
    <a
        routerLink="/players"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="mixin-button-like mixin-button-base theme-button-generic-white"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        All Players
    </a>
    <a
        routerLink="/players/create"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="mixin-button-like mixin-button-base theme-button-generic-white"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Create Player
    </a>
    <a
        routerLink="/teams"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="mixin-button-like mixin-button-base theme-button-generic-white"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Teams
    </a>
    <div class="mixin-button-like mixin-button-base theme-button-generic-white" modalTrigger [modalPanel]="exampleModal" [modalData]="{ title: otherTitle }">
        Test
    </div>
</header>
<router-outlet />
