<!-- App -->
<header class="relative shrink-0 token-header-section" appContentGrid>
    <nav class="flex flex-row gap-3 overflow-x-auto" [appContentGridTrack]="{ contentGridTrack: 'base' }">
        <ng-content *ngIf="isAuthenticated; else unauthenticatedBlock">
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-sm',
                    theme: 'theme-Sbutton-generic-red',
                    hasShadow: true
                }"
                type="button"
                (mouseup)="authService.logout()"
            >
                Logout
            </button>
        </ng-content>
        <ng-template #unauthenticatedBlock>
            <a
                routerLink="/users/login"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-sm',
                    theme: 'theme-Sbutton-generic-yellow',
                    hasShadow: true
                }"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Login
            </a>
            <a
                routerLink="/users/register"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-sm',
                    theme: 'theme-Sbutton-generic-green',
                    hasShadow: true
                }"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Register
            </a>
        </ng-template>
        <a
            class="ml-auto"
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Frontpage
        </a>
        <a
            routerLink="/players"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Players
        </a>
        <a
            routerLink="/teams"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Teams
        </a>
        <a
            routerLink="/matches"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Matches
        </a>
        <div
            *ngIf="false"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white'
            }"
            modalTrigger
            [modalPanel]="exampleModal"
            [modalData]="{ title: otherTitle }"
            class="truncate shrink-0"
        >
            Modal Sample
        </div>
    </nav>
</header>
<app-divider />
<main class="flex flex-col grow bg-white" appContentGrid>
    <app-breadcrumb />
    <app-divider />
    <router-outlet></router-outlet>
</main>
<app-divider class="z-10" />
<!--
<footer appContentGrid class="py-3 px-4 bg-gray-100">
    <section [appContentGridTrack]="{ contentGridTrack: 'full' }" class="flex flex-row gap-y-3 gap-x-6 flex-wrap">
        <div class="shrink-0 flex flex-col gap-1">
            <div class="token-default-title">
                Soccer Team Manager
            </div>
            <div [appMixinStyledButton]="{ theme: 'theme-Sbutton-generic-white', size: 'mixin-Sbutton-sm', isStatic: true }" class="w-fit select-text	">
                Using Angular & Node
            </div>
            <div [appMixinStyledButton]="{ theme: 'theme-Sbutton-generic-white', size: 'mixin-Sbutton-sm', isStatic: true }" class="w-fit select-text	">
                Implementing DDD Methodologies
            </div>
            <div [appMixinStyledButton]="{ theme: 'theme-Sbutton-generic-white', size: 'mixin-Sbutton-sm', isStatic: true }" class="w-fit select-text	">
                Integration Tested API
            </div> 
            <div [appMixinStyledButton]="{ theme: 'theme-Sbutton-generic-white', size: 'mixin-Sbutton-sm', isStatic: true }" class="w-fit select-text	">
                Implementing Layered Architecture
            </div>
        </div>
        <div class="shrink-0 flex flex-col gap-1">
            <div class="token-default-title">
                Made by M-7ard
            </div>
            <div [appMixinStyledButton]="{ theme: 'theme-Sbutton-generic-white', size: 'mixin-Sbutton-sm', isStatic: true }" class="w-fit select-text	">
                https://github.com/m-7ard
            </div>
            <div [appMixinStyledButton]="{ theme: 'theme-Sbutton-generic-white', size: 'mixin-Sbutton-sm', isStatic: true }" class="w-fit select-text	">
                https://github.com/m-7ard/Angular-Node-Soccer-Manager
            </div>
        </div>
        <div class="shrink-0 flex flex-col gap-1">
            <div class="token-default-title">
                Other Portfolio Project of M-7ard
            </div>
            <div [appMixinStyledButton]="{ theme: 'theme-Sbutton-generic-white', size: 'mixin-Sbutton-sm', isStatic: true }" class="w-fit select-text	">
                https://github.com/m-7ard/Dotnet-React-Order-Display-System-
            </div>
            <div [appMixinStyledButton]="{ theme: 'theme-Sbutton-generic-white', size: 'mixin-Sbutton-sm', isStatic: true }" class="w-fit select-text	">
                https://github.com/m-7ard/Dotnet-MVC-News-Service
            </div>
        </div>
    </section>
</footer>
-->
<ng-content *ngIf="error != null">
    <app-exception-notice-popover
        [error]="error"
        (dismiss)="exceptionNoticeService.clearError()"
    ></app-exception-notice-popover>
</ng-content>
