<div
    [appMixinStyledCard]="{
        size: 'mixin-Scard-base',
        theme: 'theme-Scard-generic-white',
        hasShadow: true,
        hasDivide: true
    }"
>
    <section appMixinStyledCardSection class="flex flex-row gap-3">
        <button class="mixin-Sbutton-like mixin-Sbutton-like--static mixin-Sbutton-sm justify-center w-full {{ match.statusColor }}">
            {{ match.statusLabel }}
        </button>
    </section>
    <section appMixinStyledCardSection class="flex flex-col gap-1">
        <div class="grid gap-3 items-center" style="grid-template-columns: auto auto 1fr">
            <div class="aspect-square h-full theme-avatar-any">
                <app-cover-image src=""></app-cover-image>
            </div>
            <div class="token-card--header--primary-text truncate">{{ match.homeTeam.name }}</div>
            <div class="token-card--header--primary-text">
                {{ match.score?.homeTeamScore ?? "" }}
            </div>
        </div>
        <div class="grid gap-3 items-center" style="grid-template-columns: auto auto 1fr">
            <div class="aspect-square h-full theme-avatar-any">
                <app-cover-image src=""></app-cover-image>
            </div>
            <div class="token-card--header--primary-text truncate">{{ match.awayTeam.name }}</div>
            <div class="token-card--header--primary-text">
                {{ match.score?.awayTeamScore ?? "" }}
            </div>
        </div>
    </section>
    <section appMixinStyledCardSection class="overflow-hidden">
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">Scheduled Date</span>
            <span class="truncate token-default-list__value">
                {{ match.scheduledDate | date:'yyyy-MM-dd HH:mm:ss' }}
            </span>
        </div>
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">Start Date</span>
            <span class="truncate token-default-list__value">
                {{ match.startDate == null ? "N/A" : (match.startDate | date:'yyyy-MM-dd HH:mm:ss') }}
            </span>
        </div>
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">End Date</span>
            <span class="truncate token-default-list__value">
                {{ match.endDate == null ? "N/A" : (match.endDate | date:'yyyy-MM-dd HH:mm:ss') }}
            </span>
        </div>
    </section>
    <footer appMixinStyledCardSection class="flex flex-col gap-1">
        <button
            [routerLink]="'/matches/' + match.id"
            useRouterLink   
            [appMixinStyledButton]="{
                theme: 'theme-Sbutton-generic-blue',
                size: 'mixin-Sbutton-base'
            }"
            class="justify-center"
        >
            Details
        </button>
        <button
            [appMixinStyledButton]="{
                theme: 'theme-Sbutton-generic-white',
                size: 'mixin-Sbutton-base'
            }"
            class="justify-center"
            primeNgPopoverDirective
            [popover]="op"
        >
            Other Options
        </button>
    </footer>
</div>

<p-popover #op class="fixed mt-1">
    <div
        [appPanelDirective]="{
            panelSize: 'mixin-panel-base',
            panelTheme: 'theme-panel-generic-white',
            panelHasBorder: true,
            panelHasShadow: true
        }"
    >
        <header appPanelSectionDirective class="flex flex-row justify-between items-center">
            <div class="token-base-title">Other Options</div>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-sm',
                    theme: 'theme-Sbutton-generic-white',
                    hasShadow: true
                }"
                (click)="this.op.hide()"
            >
                Close
            </button>
        </header>
        <app-divider />
        <div appPanelSectionDirective class="flex flex-col gap-1">
            <button *ngIf="match.canScore()"
                [routerLink]="'/matches/' + match.id + '/record-goal/'"
                useRouterLink
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-green'
                }"
                class="justify-center"
            >
                Record Goal
            </button>
            <button *ngIf="match.canTransition(match.VALID_MATCH_STATUSES.IN_PROGRESS)"
                [routerLink]="'/matches/' + match.id + '/mark-in-progress/'"
                useRouterLink
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-blue'
                }"
                class="justify-center"
            >
                Mark In Progress
            </button>
            <button *ngIf="match.canTransition(match.VALID_MATCH_STATUSES.COMPLETED)"
                [routerLink]="'/matches/' + match.id + '/mark-completed/'"
                useRouterLink
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-blue'
                }"
                class="justify-center"
            >
                Mark Completed
            </button>
            <button *ngIf="match.canTransition(match.VALID_MATCH_STATUSES.CANCELLED)"
                [routerLink]="'/matches/' + match.id + '/mark-cancelled'"
                useRouterLink
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-blue'
                }"
                class="justify-center"
            >
                Mark Cancelled
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-red'
                }"
                class="justify-center"
                (click)="openDeleteMatchModal()"
            >
                Delete
            </button>
        </div>
    </div>
</p-popover>
