<div class="mixin-panel-like mixin-panel-base theme-panel-generic-white w-[100vw]">
    <header class="flex flex-row gap-2 justify-between">
        <div class="font-bold">Filter Players</div>
        <app-mixin-button
            [options]="{
                size: 'mixin-button-sm',
                theme: 'theme-button-generic-white'
            }"
        >
            Close
        </app-mixin-button>
    </header>
    <nav class="flex flex-row gap-2">
        <app-mixin-button
            [options]="{
                size: 'mixin-button-base',
                theme: 'theme-button-generic-white'
            }"
            (click)="changeRoute('form')"
            class="basis-1/2"
            className="w-full justify-center"
            [isActive]="currentRoute === 'form'"
        >
            Form
        </app-mixin-button>
        <app-mixin-button
            [options]="{
                size: 'mixin-button-base',
                theme: 'theme-button-generic-white'
            }"
            (click)="changeRoute('results')"
            class="basis-1/2"
            className="w-full justify-center"
            [isActive]="currentRoute === 'results'"
        >
            Result
        </app-mixin-button>
    </nav>
    <section *ngIf="currentRoute === 'form'">
        <form [formGroup]="form" class="flex flex-col gap-2" (submit)="onFormSubmit()">
            <app-form-field [name]="'name'">
                <ng-template let-name="name">
                    <app-char-field
                        [formControlName]="name"
                        [options]="{
                            size: 'mixin-char-input-base',
                            theme: 'theme-input-generic-white'
                        }"
                    ></app-char-field>
                </ng-template>
            </app-form-field>
            <app-mixin-button
                [options]="{
                    size: 'mixin-button-base',
                    theme: 'theme-button-generic-green'
                }"
            >
                Filter
            </app-mixin-button>
        </form>
    </section>
    <section *ngIf="currentRoute === 'results'">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <ng-content *ngFor="let player of results">
                <div appMixinPrototypeCard>
                    <main appMixinPrototypeCardSection class="grid gap-3" style="grid-template: auto / auto 1fr">
                        <div class="aspect-square bg-gray-300 border border-gray-900 h-full">
                            <section class="relative h-full w-full flex">
                                <app-cover-image src=""></app-cover-image>
                            </section>
                        </div>
                        <div class="overflow-hidden">
                            <div class="text-lg font-bold">
                                {{ player.name }}
                            </div>
                            <div class="truncate">
                                Zebras (US: /ˈziːbrəz/, UK: /ˈzɛbrəz, ˈziː-/)[2] (subgenus Hippotigris) are African equines with distinctive black-and-white striped coats. There are three living species: Grévy's zebra (Equus grevyi), the plains zebra (E. quagga), and the mountain zebra (E. zebra). Zebras share the genus Equus with horses and asses, the three groups being the only living members of
                                the family Equidae. Zebra stripes come in different patterns, unique to each individual. Several theories have been proposed for the function of these patterns, with most evidence supporting them as a deterrent for biting flies. Zebras inhabit eastern and southern Africa and can be found in a variety of habitats such as savannahs, grasslands, woodlands, shrublands,
                                and mountainous areas.
                            </div>
                        </div>
                    </main>
                    <section appMixinPrototypeCardSection>
                        <div class="text-base flex flex-row justify-between gap-3">
                            <span class="font-bold">Id</span>
                            <span class="truncate">
                                {{ player.id }}
                            </span>
                        </div>
                        <div class="text-base flex flex-row justify-between gap-3">
                            <span class="font-bold">Active Since</span>
                            <span class="truncate">
                                {{ player.activeSince | date }}
                            </span>
                        </div>
                    </section>
                    <footer appMixinPrototypeCardSection class="grid grid-cols-1 gap-1">
                        <app-mixin-button
                            *ngIf="isPlayerAlreadySelected(player); else notSelected"
                            [options]="{
                                size: 'mixin-button-base',
                                theme: 'theme-button-generic-green'
                            }"
                            class="mt-auto"
                        >
                            Already Selected
                        </app-mixin-button>
                        <ng-template #notSelected>
                            <app-mixin-button
                                (click)="selectPlayer(player)"
                                [options]="{
                                    size: 'mixin-button-base',
                                    theme: 'theme-button-generic-yellow'
                                }"
                                class="mt-auto"
                            >
                                Select
                            </app-mixin-button>
                        </ng-template>
                    </footer>
                </div>
            </ng-content>
        </div>
    </section>
</div>
