<div appMixinStyledCard class="mixin-panel-like mixin-panel-base theme-panel-generic-white">
    <header appMixinStyledCardSection class="flex flex-row gap-2 justify-between">
        <div class="font-bold">Filter Players</div>
        <button appMixinStyledButton size="mixin-Sbutton-sm" theme="theme-Sbutton-generic-white">Close</button>
    </header>
    <nav appMixinStyledCardSection class="flex flex-row gap-3">
        <button
            appMixinStyledButton
            size="mixin-Sbutton-base"
            theme="theme-Sbutton-generic-white"
            (click)="changeRoute('form')"
            class="basis-1/2 justify-center"
            [ngClass]="{ active: currentRoute === 'form' }"
        >
            Form
        </button>
        <button
            appMixinStyledButton
            size="mixin-Sbutton-base"
            theme="theme-Sbutton-generic-white"
            (click)="changeRoute('results')"
            class="basis-1/2 justify-center"
            [ngClass]="{ active: currentRoute === 'results' }"
        >
            Result
        </button>
    </nav>
    <ng-content *ngIf="currentRoute === 'form'">
        <form appMixinStyledCardSection [formGroup]="form" class="flex flex-col gap-2">
            <app-form-field [name]="'name'">
                <ng-template let-name="name">
                    <app-char-field
                        [formControlName]="name"
                        size="mixin-char-input-base"
                        theme="theme-input-generic-white"
                    ></app-char-field>
                </ng-template>
            </app-form-field>
        </form>
        <footer appMixinStyledCardSection class="flex flex-row gap-3 justify-end">
            <button
                appMixinStyledButton
                size="mixin-Sbutton-base"
                theme="theme-Sbutton-generic-green"
                (mouseup)="onFormSubmit()"
            >
                Filter
            </button>
        </footer>
    </ng-content>
    <ng-content *ngIf="currentRoute === 'results'">
        <div appMixinStyledCardSection class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <ng-content *ngFor="let player of results">
                <div appMixinStyledCard>
                    <main appMixinStyledCardSection class="grid gap-3" style="grid-template: auto / auto 1fr">
                        <div class="aspect-square theme-avatar-any">
                            <section class="relative h-full w-full flex">
                                <app-cover-image src=""></app-cover-image>
                            </section>
                        </div>
                        <div class="overflow-hidden">
                            <div class="token-card--header--primary-text">
                                {{ player.name }}
                            </div>
                            <div class="truncate token-card--header--secondary-text">
                                <app-zeebra-text></app-zeebra-text>
                            </div>
                        </div>
                    </main>
                    <section appMixinStyledCardSection>
                        <div class="token-card--list">
                            <span class="token-card--list-label--text">Id</span>
                            <span class="truncate token-card--list-value--text">
                                {{ player.id }}
                            </span>
                        </div>
                        <div class="token-card--list">
                            <span class="token-card--list-label--text">Active Since</span>
                            <span class="truncate token-card--list-value--text">
                                {{ player.activeSince | date }}
                            </span>
                        </div>
                    </section>
                    <footer appMixinStyledCardSection class="grid grid-cols-1 gap-1">
                        <button
                            appMixinStyledButton
                            *ngIf="isPlayerAlreadySelected(player); else notSelected"
                            size="mixin-Sbutton-base"
                            theme="theme-Sbutton-generic-green"
                            class="justify-center"
                        >
                            Already Selected
                        </button>
                        <ng-template #notSelected>
                            <button
                                appMixinStyledButton
                                (click)="selectPlayer(player)"
                                size="mixin-Sbutton-base"
                                theme="theme-Sbutton-generic-yellow"
                                class="justify-center"
                            >
                                Select
                            </button>
                        </ng-template>
                    </footer>
                </div>
            </ng-content>
        </div>
    </ng-content>
</div>
