<!-- List Team Players Page -->
<header [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }" appContentGrid>
    <div class="flex flex-row gap-3 flex-wrap" appPageSectionDirective [appContentGridTrack]="{ contentGridTrack: 'full' }">
        <ng-container *ngFor="let teamPlayer of teamPlayers">
            <app-list-team-players-page-team-player-element
                [teamPlayer]="teamPlayer"
                [team]="team"
                (onDelete)="onDeleteTeamPlayer($event)"
                class="min-w-[200px] basis-1/5 grow"
            ></app-list-team-players-page-team-player-element>
        </ng-container>
    </div>
</header>
