<div appMixinStyledCard>
    <section appMixinStyledCardSection class="grid gap-3" style="grid-template: auto / auto 1fr">
        <div class="aspect-square theme-avatar-any">
            <section class="relative h-full w-full flex">
                <app-cover-image src=""></app-cover-image>
            </section>
        </div>
        <div class="overflow-hidden">
            <div class="token-card--header--primary-text">
                {{ team.name }}
            </div>
            <div class="truncate token-card--header--secondary-text">
                <app-zeebra-text></app-zeebra-text>
            </div>
        </div>
    </section>
    <section appMixinStyledCardSection>
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">Id</span>
            <span class="token-default-list__value truncate">
                {{ team.id }}
            </span>
        </div>
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">Date Founded</span>
            <span class="token-default-list__value truncate">
                {{ team.dateFounded | date }}
            </span>
        </div>
    </section>
    <footer appMixinStyledCardSection class="grid max-[640px]:grid-cols-1 grid-cols-2 gap-1">
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-yellow'
            }"
            class="justify-center"
            [routerLink]="'/teams/' + team.id + '/'"
        >
            Team Details
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-green'
            }"
            class="justify-center"
            [routerLink]="'/teams/' + team.id + '/update'"
        >
            Update Team
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-blue'
            }"
            class="justify-center"
            [routerLink]="seePlayersRoute"
        >
            See Players
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-blue'
            }"
            class="justify-center"
            [routerLink]="'/teams/' + team.id + '/players/add'"
        >
            Add Player
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-red'
            }"
            class="justify-center"
            (click)="openDeleteTeamModal()"
        >
            Delete Team
        </button>
    </footer>
</div>
