<div
    [appMixinStyledCard]="{
        size: 'mixin-Scard-base',
        theme: 'theme-Scard-generic-white',
        hasShadow: true,
        hasDivide: true,
        hasBorder: true
    }"
    class="token-hover-element"
>
    <section class="grid gap-3" style="grid-template-columns: auto 1fr;" appMixinStyledCardSection>
        <div class="aspect-square token-default-avatar">
            <app-cover-image  src="https://media.gettyimages.com/id/2156815463/photo/lisbon-portugal-cristiano-ronaldo-of-portugal-poses-for-a-portrait-during-the-portugal.jpg?s=612x612&w=gi&k=20&c=w2qJefWbNVSPSP4L29CjtaeB4R0CiL2VWohDuKpGF_A=" />
        </div>
        <div class=" overflow-auto">
            <div class="token-default-title">
                {{ team.name }}
            </div>
            <div class="token-base-text truncate">
                {{ team.id }}
            </div>
        </div>
    </section>
</div>

<p-popover #op class="fixed mt-1">
    <div
        [appPanelDirective]="{
            panelSize: 'mixin-panel-base',
            panelTheme: 'theme-panel-generic-white',
            panelHasBorder: true,
            panelHasShadow: true
        }"
    >
        <header appPanelSectionDirective class="flex flex-row justify-between items-center">
            <div class="token-base-text">Other Options</div>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-sm',
                    theme: 'theme-Sbutton-generic-white',
                    hasShadow: true
                }"
                (click)="this.op.hide()"
            >
                Close
            </button>
        </header>
        <app-divider />
        <div appPanelSectionDirective class="flex flex-col gap-1">
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-green'
                }"
                class="justify-center"
                [routerLink]="'/teams/' + team.id + '/update'"
            >
                Update Team
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-blue'
                }"
                class="justify-center"
                [routerLink]="seePlayersRoute"
            >
                See Players
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-yellow'
                }"
                class="justify-center"
                [routerLink]="'/teams/' + team.id + '/players/add'"
            >
                Add Player
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-red'
                }"
                class="justify-center"
                (click)="openDeleteTeamModal()"
            >
                Delete Team
            </button>
        </div>
    </div>
</p-popover>
