<!-- List Team Players Page >>> Team Player Element -->
<div
    [appMixinStyledCard]="{
        size: 'mixin-Scard-base',
        theme: 'theme-Scard-generic-white',
        hasShadow: true,
        hasDivide: true,
        hasBorder: true
    }"
    class="token-hover-element"
    [routerLink]="url"
>
    <section class="grid gap-3" style="grid-template-columns: auto 1fr;" appMixinStyledCardSection>
        <div class="aspect-square token-default-avatar">
            <app-cover-image  src="https://media.gettyimages.com/id/2156815463/photo/lisbon-portugal-cristiano-ronaldo-of-portugal-poses-for-a-portrait-during-the-portugal.jpg?s=612x612&w=gi&k=20&c=w2qJefWbNVSPSP4L29CjtaeB4R0CiL2VWohDuKpGF_A=" />
        </div>
        <div>
            <div class="token-default-title">
                {{ teamPlayer.player.name }}
            </div>
            <div class="token-base-text">
                {{ teamPlayer.membership.effectiveHistory?.position?.label ?? "Unkown Position" }}
            </div>
        </div>
    </section>
</div>

<p-popover #op class="fixed mt-1">
    <div
        [appPanelDirective]="{
            panelSize: 'mixin-panel-base',
            panelTheme: 'theme-panel-generic-white',
            panelHasBorder: true,
            panelHasShadow: true
        }"
    >
        <header appPanelSectionDirective class="flex flex-row justify-between items-center">
            <div class="token-base-text">Other Options</div>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-sm',
                    theme: 'theme-Sbutton-generic-white',
                    hasShadow: true
                }"
                (click)="this.op.hide()"
            >
                Close
            </button>
        </header>
        <app-divider />
        <div appPanelSectionDirective class="flex flex-col gap-1">
            <button
                [appMixinStyledButton]="{
                    theme: 'theme-Sbutton-generic-green',
                    size: 'mixin-Sbutton-base'
                }"
                class="justify-center"
                [routerLink]="'/teams/' + team.id + '/players/' + teamPlayer.player.id + '/update'"
            >
                Update Team Player
            </button>
            <button
                [appMixinStyledButton]="{
                    theme: 'theme-Sbutton-generic-red',
                    size: 'mixin-Sbutton-base'
                }"
                class="justify-center"
                (click)="openDeleteMembershipModal()"
            >
                Delete Team Player
            </button>
        </div>
    </div>
</p-popover>
