<!-- Team Layout Page -->
<div [appPageDirective]="{ pageSize: 'mixin-page-base' }" appContentGrid class="overflow-hidden">
    <header appPageSectionDirective class="flex flex-col gap-3">
        <div class="token-default-title">{{ team.name }}</div>
    </header>
    <app-divider/>
    <nav
        appPageSectionDirective
        class="flex flex-row gap-3 overflow-x-auto"
    >
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="justify-center shrink-0"
            [routerLink]="'/teams/' + team.id + '/'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
        >
            Team Details
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="justify-center shrink-0"
            [routerLink]="'/teams/' + team.id + '/players'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
        >
            Team Players
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="justify-center shrink-0"
            [routerLink]="'/teams/' + team.id + '/update'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
        >
            Update Team
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="justify-center shrink-0"
            [routerLink]="'/teams/' + team.id + '/players/add'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
        >
            Add Player
        </button>
    </nav>
    <app-divider/>
    <div [appContentGridTrack]="{ contentGridTrack: 'lg' }">
        <router-outlet></router-outlet>
    </div>
</div>
