<!-- Team Player Details Page -->
<main [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }">
    <header appPageSectionDirective>
        <div class="token-default-title">Team Player Details</div>
    </header>
    <app-divider />
    <section appPageSectionDirective class="flex flex-col gap-1">
        <div class="token-base-text font-bold">Player Information</div>
        <div
            [appMixinStyledCard]="{
                size: 'mixin-Scard-base',
                theme: 'theme-Scard-generic-white',
                hasShadow: true,
                hasDivide: true,
                hasBorder: true
            }"
        >
            <section appMixinStyledCardSection>
                <ul>
                    <li class="token-default-list">
                        <div class="token-default-list__label">Name</div>
                        <div class="token-default-list__value truncate">
                            {{ teamPlayer.player.name }}
                        </div>
                    </li>
                    <li class="token-default-list">
                        <div class="token-default-list__label">Id</div>
                        <div class="token-default-list__value truncate">
                            {{ teamPlayer.player.id }}
                        </div>
                    </li>
                    <li class="token-default-list">
                        <div class="token-default-list__label">Active Since</div>
                        <div class="token-default-list__value truncate">
                            {{ teamPlayer.player.activeSince }}
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </section>
    <app-divider />
    <section appPageSectionDirective class="flex flex-col gap-1">
        <div class="token-base-text font-bold">Membership Information</div>
        <div
            [appMixinStyledCard]="{
                size: 'mixin-Scard-base',
                theme: 'theme-Scard-generic-white',
                hasShadow: true,
                hasDivide: true,
                hasBorder: true
            }"
        >
            <section appMixinStyledCardSection>
                <ul>
                    <li class="token-default-list">
                        <div class="token-default-list__label">Date Active From</div>
                        <div class="token-default-list__value truncate">
                            {{ teamPlayer.membership.activeFrom | date }}
                        </div>
                    </li>
                    <li class="token-default-list">
                        <div class="token-default-list__label">Date Active To</div>
                        <div class="token-default-list__value truncate">
                            {{
                                teamPlayer.membership.activeTo == null ? "N/A" : (teamPlayer.membership.activeTo | date)
                            }}
                        </div>
                    </li>
                    <li class="token-default-list">
                        <div class="token-default-list__label">Id</div>
                        <div class="token-default-list__value truncate">
                            {{ teamPlayer.membership.id }}
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </section>
    <app-divider />
    <section appPageSectionDirective class="flex flex-col gap-1">
        <div class="token-base-text font-bold">Effective History</div>
        <div *ngIf="teamPlayer.membership.effectiveHistory == null" class="token-base-text">
            There's Nothing Here Yet. Create a history if you want to see something here.
        </div>
        <ng-container *ngIf="teamPlayer.membership.effectiveHistory != null">
            <app-team-membership-history-element [teamMembershipHistory]="teamPlayer.membership.effectiveHistory" />
        </ng-container>
    </section>
</main>
