<!-- Match Details Page -->
<div [appPageDirective]="{ pageSize: 'mixin-page-base' }" appContentGrid>
    <aside appPageSectionDirective class="flex flex-col gap-3" appContentGrid>
        <section class="flex flex-col gap-3" [appContentGridTrack]="{ contentGridTrack: 'base' }">
            <header>
                <div class="token-default-title">Match Details</div>
            </header>
            <div
                [appMixinStyledCard]="{
                    size: 'mixin-Scard-base',
                    theme: 'theme-Scard-generic-white',
                    hasShadow: true,
                    hasDivide: true
                }"
            >
                <section appMixinStyledCardSection class="overflow-hidden">
                    <div class="token-default-list">
                        <span class="token-default-list__label shrink-0">Scheduled Date</span>
                        <span class="truncate token-default-list__value">
                            {{ match.scheduledDate | date: "yyyy-MM-dd HH:mm:ss" }}
                        </span>
                    </div>
                    <div class="token-default-list">
                        <span class="token-default-list__label shrink-0">Start Date</span>
                        <span class="truncate token-default-list__value">
                            {{ match.startDate == null ? "N/A" : (match.startDate | date: "yyyy-MM-dd HH:mm:ss") }}
                        </span>
                    </div>
                    <div class="token-default-list">
                        <span class="token-default-list__label shrink-0">End Date</span>
                        <span class="truncate token-default-list__value">
                            {{ match.endDate == null ? "N/A" : (match.endDate | date: "yyyy-MM-dd HH:mm:ss") }}
                        </span>
                    </div>
                </section>
                <section appMixinStyledCardSection class="overflow-hidden">
                    <div class="token-default-list">
                        <span class="token-default-list__label shrink-0">Venue</span>
                        <span class="truncate token-default-list__value">
                            {{ match.venue }}
                        </span>
                    </div>
                </section>
            </div>
        </section>
    </aside>
    <app-divider />
    <aside appPageSectionDirective class="flex flex-col gap-3 bg-gray-100" appContentGrid>
        <header [appContentGridTrack]="{ contentGridTrack: 'base' }">
            <div class="token-default-title">Match Events</div>
        </header>
        <section class="flex flex-col gap-3" [appContentGridTrack]="{ contentGridTrack: 'sm' }">
            <div
                class="grid items-center gap-3"
                style="grid-template-columns: 1fr auto 1fr"
                *ngFor="let matchEvent of matchEvents"
            >
                <span
                    *ngIf="matchEvent.teamId === match.homeTeam.id"
                    [appMixinStyledCard]="{
                        size: 'mixin-Scard-base',
                        theme: 'theme-Scard-generic-white',
                        hasShadow: true
                    }"
                >
                    <section class="overflow-hidden items-end flex flex-col" appMixinStyledCardSection>
                        <div class="token-card--header--primary-text">
                            {{ matchEvent.type }}
                        </div>
                        <div class="token-card--header--secondary-text">
                            {{ matchEvent.player.name }}
                        </div>
                    </section>
                </span>
                <span class="col-start-2 row-start-1">
                    <button
                        [appMixinStyledButton]="{
                            size: 'mixin-Sbutton-base',
                            theme: 'theme-Sbutton-generic-green',
                            hasShadow: true,
                            isStatic: true
                        }"
                    >
                        {{ matchEvent.dateOccurred | dateDifference: [match.startDate!, "minutes"] }}
                    </button>
                </span>
                <span
                    *ngIf="matchEvent.teamId === match.awayTeam.id"
                    [appMixinStyledCard]="{
                        size: 'mixin-Scard-base',
                        theme: 'theme-Scard-generic-white',
                        hasShadow: true
                    }"
                    class="col-start-3"
                >
                    <section class="overflow-hidden" appMixinStyledCardSection>
                        <div class="token-card--header--primary-text">
                            {{ matchEvent.type }}
                        </div>
                        <div class="token-card--header--secondary-text">
                            {{ matchEvent.player.name }}
                        </div>
                    </section>
                </span>
            </div>
        </section>
    </aside>
</div>
