<!-- Match Details Page -->
<div [appPageDirective]="{ pageSize: 'mixin-page-base' }" appContentGrid>
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="grid grid-cols-3 gap-3 token-body-section items-center justify-items-center"
    >
        <div
            [routerLink]="'/teams/' + match.homeTeam.id"
            class="aspect-square max-h-[80px] max-w-[80px] w-full h-full aspect-square hover:cursor-pointer"
        >
            <app-cover-image className="token-default-avatar " />
        </div>
        <div class="token-default-title">{{ match.score?.homeTeamScore }} : {{ match.score?.awayTeamScore }}</div>
        <div
            [routerLink]="'/teams/' + match.awayTeam.id"
            class="aspect-square max-h-[80px] max-w-[80px] w-full h-full aspect-square hover:cursor-pointer"
        >
            <app-cover-image className="token-default-avatar " />
        </div>
        <div [routerLink]="'/teams/' + match.homeTeam.id" class="token-base-text text-center hover:cursor-pointer">
            {{ match.homeTeam.name }}
        </div>
        <div class="token-base-text">
            {{ match.status.label }}
        </div>
        <div [routerLink]="'/teams/' + match.awayTeam.id" class="token-base-text text-center hover:cursor-pointer">
            {{ match.awayTeam.name }}
        </div>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section appPageSectionDirective [appContentGridTrack]="{ contentGridTrack: 'base' }" class="token-body-section">
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">Scheduled Date</span>
            <span class="truncate token-default-list__value">
                {{ match.scheduledDate | date: "yyyy-MM-dd HH:mm:ss" }}
            </span>
        </div>
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">Start Date</span>
            <span class="truncate token-default-list__value">
                {{ match.startDate == null ? "N/A" : (match.startDate | date: "yyyy-MM-dd HH:mm:ss") }}
            </span>
        </div>
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">End Date</span>
            <span class="truncate token-default-list__value">
                {{ match.endDate == null ? "N/A" : (match.endDate | date: "yyyy-MM-dd HH:mm:ss") }}
            </span>
        </div>
        <div class="token-default-list">
            <span class="token-default-list__label shrink-0">Venue</span>
            <span class="truncate token-default-list__value">
                {{ match.venue }}
            </span>
        </div>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="token-body-section grow token-default-flex-col"
    >
        <header>
            <div class="token-default-title">Match Events</div>
        </header>
        <section class="token-default-flex-col">
            <div class="token-default-flex-row items-center" *ngFor="let matchEvent of matchEvents">
                <span
                    *ngIf="matchEvent.teamId === match.homeTeam.id"
                    [appMixinStyledCard]="{
                        size: 'mixin-Scard-base',
                        theme: 'theme-Scard-generic-white',
                        hasShadow: true,
                        hasBorder: true
                    }"
                    class="grow"
                >
                    <section class="overflow-hidden items-end flex flex-col" appMixinStyledCardSection>
                        <div class="token-default-title">
                            {{ matchEvent.type | titlecase }}
                        </div>
                        <div class="token-base-text">
                            {{ matchEvent.player.name }}
                        </div>
                    </section>
                </span>
                <span>
                    <button
                        [appMixinStyledButton]="{
                            size: 'mixin-Sbutton-base',
                            theme: 'theme-Sbutton-generic-green',
                            hasShadow: true,
                            isStatic: true
                        }"
                    >
                        {{ matchEvent.dateOccurred | dateDifference: [match.startDate!, "minutes"] }}
                    </button>
                </span>
                <span
                    *ngIf="matchEvent.teamId === match.awayTeam.id"
                    [appMixinStyledCard]="{
                        size: 'mixin-Scard-base',
                        theme: 'theme-Scard-generic-white',
                        hasShadow: true,
                        hasBorder: true
                    }"
                    class="grow"
                >
                    <section class="overflow-hidden" appMixinStyledCardSection>
                        <div class="token-default-title">
                            {{ matchEvent.type | titlecase }}
                        </div>
                        <div class="token-base-text">
                            {{ matchEvent.player.name }}
                        </div>
                    </section>
                </span>
            </div>
        </section>
    </section>
</div>
