<!-- Team Membership Histories Page -->
<main [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }" appContentGrid>
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section grow"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">Team Membership Histories</div>
        <app-divider />
        <ul class="token-default-flex-row flex-wrap">
            <app-team-membership-history-element
                *ngFor="let teamMembershipHistory of teamMembershipHistories"
                [teamMembershipHistory]="teamMembershipHistory"
                [teamMembership]="teamMembership"
                class="basis-1/3 grow"
            />
            <li *ngIf="teamMembershipHistories.length === 0" class="token-base-text">Nothing To See Here Yet.</li>
        </ul>
    </section>
</main>
