<!-- List Matches Page -->
<div [appPageDirective]="{ pageSize: 'mixin-page-base' }" appContentGrid>

    <section
        appPageSectionDirective
        class="flex flex-col gap-3 token-body-section"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <nav class="flex flex-col gap-3" appPageSectionDirective>
            <section class="flex flex-row gap-3 flex-wrap">
                <div class="token-default-title ">
                    Matches
                </div>
                <button
                    [appMixinStyledButton]="{
                        size: 'mixin-Sbutton-sm',
                        theme: 'theme-Sbutton-generic-white',
                        hasShadow: true
                    }"
                    class="shrink-0 ml-auto"
                >
                    Filter
                </button>
                <button
                    [appMixinStyledButton]="{
                        size: 'mixin-Sbutton-sm',
                        theme: 'theme-Sbutton-generic-white',
                        hasShadow: true
                    }"
                    class="shrink-0"
                >
                    Order By
                </button>
            </section>
        </nav>
        <app-divider />
        <div>
            <div class="token-default-title">Today's Matches</div>
            <div class="token-default-subtitle">
                {{ matchesDate | date }}
            </div>
        </div>
        <section class="flex flex-row gap-3 flex-wrap" appPageSectionDirective>
            <ng-container *ngFor="let match of matches">
                <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
                <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
                <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
                <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
                <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
            </ng-container>
        </section>
    </section>
</div>
