<!-- List Matches Page -->
<div [appPageDirective]="{ pageSize: 'mixin-page-base' }" appContentGrid>
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="token-default-flex-row flex-wrap token-body-section"
    >
        <div class="token-default-title">Matches</div>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="shrink-0 ml-auto"
        >
            Filter
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="shrink-0"
        >
            Order By
        </button>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        class="token-default-flex-row flex-wrap token-body-section grow content-start"
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <ng-container *ngFor="let match of matches">
            <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
            <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
            <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
            <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
            <app-match-element [match]="match" class="basis-1/4 min-w-[250px] grow" />
        </ng-container>
    </section>
</div>
