<div class="mixin-page-like mixin-page-base mixin-content-grid">
    <header class="flex flex-row gap-2 items-center justify-between" data-track="base">
        <div class="text-xl">Create Team Membership</div>
    </header>
    <div class="bg-gray-400 border border-gray-900">
        <app-form-field [name]="'playerId'" [errors]="errors.playerId">
            <ng-template let-name="name">
                <app-filter-players-field>

                </app-filter-players-field>
            </ng-template>
        </app-form-field>
    </div>
</div>
