<!-- Team Player Layout Page -->
<div [appPageDirective]="{ pageSize: 'mixin-page-base' }" appContentGrid class="overflow-hidden">
    <header appPageSectionDirective class="flex flex-col gap-3">
        <div class="token-default-title">{{ team.name }} ›› {{ teamPlayer.player.name }}</div>
    </header>
    <app-divider/>
    <nav
        appPageSectionDirective
        class="flex flex-row gap-3 overflow-x-auto"
    >
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="justify-center shrink-0"
            [routerLink]="'/teams/' + team.id + '/' + teamPlayer.membership.id"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
        >
            Team Player Details
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="justify-center shrink-0"
            [routerLink]="'/teams/' + team.id + '/' + teamPlayer.membership.id + '/' + 'membership-histories'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
        >
            Membership Histories
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="justify-center shrink-0"
            [routerLink]="'/teams/' + team.id + '/update'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
        >
            Update Membership
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            class="justify-center shrink-0"
            [routerLink]="'/teams/' + team.id + '/' + teamPlayer.membership.id + '/' + 'membership-histories' + '/' + 'create'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
        >
            Create Membership History
        </button>
    </nav>
    <app-divider/>
    <div [appContentGridTrack]="{ contentGridTrack: 'lg' }">
        <router-outlet></router-outlet>
    </div>
</div>
