<!-- Team Details Page -->
<main [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }" appContentGrid>
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="grid gap-3 token-body-section"
        style="grid-template-columns: auto 1fr;"
    >
        <div class="aspect-square h-full max-w-[80px] max-h-[80px]">
            <app-cover-image className="token-default-avatar " />
        </div>
        <ul class="overflow-hidden">
            <li class="token-default-list">
                <div class="token-default-list__label">Name</div>
                <div class="token-default-list__value truncate">
                    {{ team.name }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Id</div>
                <div class="token-default-list__value truncate">
                    {{ team.id }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Date Founded</div>
                <div class="token-default-list__value truncate">
                    {{ team.dateFounded | date }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Active Members Count</div>
                <div class="token-default-list__value truncate">
                    {{ activePlayers.length }}
                </div>
            </li>
        </ul>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">In Progress Matches</div>
        <app-divider />
        <ul class="token-default-flex-row flex-wrap">
            <li *ngFor="let match of inProgressMatches">
                <app-match-element [match]="match" />
            </li>
            <li *ngIf="inProgressMatches.length === 0" class="token-base-text">Nothing To See Here Yet</li>
        </ul>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">Recent Matches</div>
        <app-divider />
        <ul class="token-default-flex-row flex-wrap">
            <li *ngFor="let match of recentMatches">
                <app-match-element [match]="match" />
            </li>
            <li *ngIf="recentMatches.length === 0" class="token-base-text">Nothing To See Here Yet</li>
        </ul>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section grow"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">Active Members</div>
        <app-divider />
        <ul class="token-default-flex-row flex-wrap">
            <div class="token-default-flex-row flex-wrap" *ngIf="activePlayers.length">
                <li *ngFor="let teamMember of activePlayers">
                    <div
                        [appMixinStyledCard]="{
                            size: 'mixin-Scard-base',
                            theme: 'theme-Scard-generic-white',
                            hasShadow: true,
                            hasDivide: true,
                            hasBorder: true
                        }"
                        class="grow basis-1/4"
                    >
                        <section class="grid gap-3" style="grid-template-columns: auto 1fr" appMixinStyledCardSection>
                            <div class="aspect-square token-default-avatar">
                                <app-cover-image
                                    src="https://media.gettyimages.com/id/2156815463/photo/lisbon-portugal-cristiano-ronaldo-of-portugal-poses-for-a-portrait-during-the-portugal.jpg?s=612x612&w=gi&k=20&c=w2qJefWbNVSPSP4L29CjtaeB4R0CiL2VWohDuKpGF_A="
                                />
                            </div>
                            <div>
                                <div class="token-default-title">
                                    {{ teamMember.player.name }}
                                </div>
                                <div class="token-base-text">
                                    {{ teamMember.membership.effectiveHistory?.position?.label ?? "Unkown Position" }}
                                </div>
                            </div>
                        </section>
                    </div>
                </li>
            </div>
            <li *ngIf="activePlayers.length === 0" class="token-base-text">Nothing To See Here Yet</li>
        </ul>
    </section>
</main>
